/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #043564;
  /* background-image: url('https://dl.dropboxusercontent.com/u/19580440/particlesjs-assets/kbLd9vb_new.gif'); */
  background-size: 60%;
  background-position: 0 50%;
  background-repeat: no-repeat;
}